* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body {
    background-color: #141414;
    color: white;
    font-family: 'Manrope';
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0% auto;
}

.container {
    .head {
        margin-bottom: 100px;
        padding-bottom: 10px;
        margin-top: 25px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        a {
            text-decoration: none;
            color: white;
        }

        .head__logo {
            cursor: pointer;

        }

        .head__menu {
            cursor: pointer;
            background-color: #0F0F0F;
            padding: 8px;
            display: flex;
            gap: 10px;
            border-radius: 12px;
            border: 4px solid #1F1F1F;

            a {
                padding: 5px;

                color: white;
                text-decoration: none;
                cursor: pointer;

                &:hover {
                    background-color: #1A1A1A;
                    border-radius: 1px;
                    font-weight: 500;
                }
            }

        }
    }
}

.header {
    display: flex;
    gap: 50px;

    .header__head {
        width: 40%;
        margin-bottom: 50px;

        img {
            width: 500px;
        }

        h1 {
            width: 500px;
            color: #FFF;
            font-size: 48px;
            font-style: normal;
            font-weight: 700;
            line-height: 150%;
        }

        p {
            padding-bottom: 10px;
            width: 500px;
            color: var(--grey-60, #999);
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;

        }
    }

    .header__form {
       height: 660px;
        width: 55%;
        background-color: #0F0F0F;
        border: 1px solid #0F0F0F;
        border-radius: 15px;
     .header__form-login{
        
        padding: 50px;
        h1{
            margin-bottom: 30px;
            padding: 20px;
            background-color: #141414;
            text-align: center;
            align-items: center;
            color: white;
            font-size: 20px;
            font-weight: 500;
            span{
                color: blue;
                font-weight: 600;
            }
        }

        a{
            text-decoration: none;
            input{
                font-size: 20px;
                font-weight: 600;
                border: none;
                background-color: rgb(23, 91, 113);
                width: 100%;
                padding: 15px;
                color: white;
                border-radius: 15px;
            }
        }
     }
        form{
            padding: 20px;
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            #erro{
                color: red;
                display: block;
            }
             
            input[type='button']{
                
                border: none;
                color: white;
                background-color: blue;
                width: 200px;
                border-radius: 20px;
                padding: 15px;
                font-size: 20px;
                font-weight: 600;
            }
            span{
                width: 280px;
                margin-top: 30px;
                lable{
                    margin-bottom: 5px;
                }
                input {
                    padding: 20px;
                    display: flex;
                    border-radius: 8px;
                    border: 1px solid #262626;
                    background-color: #141414;
                    outline: none;
                    width: 280px;
                    color: white;
                }
            }
        }
    }
}